.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container{
  display: flex;
  flex-direction: column;
  margin-left: 66px;
  margin-top:50px;
}

.ToDoHeader{
  display: flex;
  align-items: center;
}

.Logo{
 font-size: 32px;
 font-weight: 400;
}

.addTask{
  width:128px;
  height: 32px;
  background: #282c34;
  border-radius: 8px;
  color:white;
  margin-left:28px;
  margin-top:3px;
}

.TableHeader{
  width:90%;
  display: flex;
  margin-top: 20px;
  background-color: black;
  color:white;
}

.column {

}
