.container {
    position: absolute;
    width: 749px;
    height: 401px;
    left: 200px;
    top: 220px;
    background: #FFFEFE;
    border-radius: 12px;
    border: 1px solid
}
.header {
    height: 40px;
    background: black;
    color:white;
    border-radius: 12px;
}
.headerTitle{
    margin-left:28px;
    padding-top: 7px;
}